# Dependencies
node_modules/

# Build outputs
dist/
build/
out/

# Logs
logs/
*.log

# Test coverage and results
coverage/
test-results/
test-results.json
*.lcov

# IDEs
.idea/

# Others
aap-mcp.yaml
